# Handling Missing Value

In [9]:
import pandas as pd
from numpy import nan as NA
data=pd.DataFrame([[1,6.5,3],[1, NA, NA],
                   [NA,NA,NA],[NA,6.5,3]],
                 columns=list("abc"))
display(data)
print("======================")
#Dropna function delete all the row which have the null value
cleaned=data.dropna()
display(cleaned)
#how="all" remove only that which data is All Null
cleaned=data.dropna(how="all")
display(cleaned)
print("Data Delete Through Columns")
cleaned=data.dropna(axis=1)
display(cleaned)

     a    b    c
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0

======================

     a    b    c
0  1.0  6.5  3.0

     a    b    c
0  1.0  6.5  3.0
1  1.0  NaN  NaN
3  NaN  6.5  3.0

Data Delete Through Columns

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3]