In [29]:
import pandas as pd
sample_df=pd.read_csv("Example/Sample.csv")
print(sample_df)
print("============================================================")
# We can change the colums name while laoding data
sample_df=pd.read_csv("Example/Sample.csv", 
                      names=['id','name','che','phy','eng','mat'])
print(sample_df)
print("============================================================")
#now we can skip the rows 1
sample_df=pd.read_csv("Example/Sample.csv",skiprows=1, 
                      names=['id','name','che','phy','eng','mat'])
print(sample_df)

  studentID         name  chemistry  physics  english  math
0       A01  Sanwal Khan         30       50       60    70
1       A02         Amar         40       20       70    30
2       A03  Shoukat Ali         50       60       50    20
3       A04        Hamza         70       80       30    40
============================================================
          id         name        che      phy      eng   mat
0  studentID         name  chemistry  physics  english  math
1        A01  Sanwal Khan         30       50       60    70
2        A02         Amar         40       20       70    30
3        A03  Shoukat Ali         50       60       50    20
4        A04        Hamza         70       80       30    40
============================================================
    id         name  che  phy  eng  mat
0  A01  Sanwal Khan   30   50   60   70
1  A02         Amar   40   20   70   30
2  A03  Shoukat Ali   50   60   50   20
3  A04        Hamza   70   80   30   40

# Hierarchal Index

In [33]:
s2_df=pd.read_csv("Example/sample2.csv")
print(s2_df)
print("====================================")
s2_df=pd.read_csv("Example/sample2.csv", index_col=["key1","key2"])
print(s2_df)

  key1 key2  value1  value2
0  one    a       1       2
1  one    b       3       4
2  one    c       5       6
3  one    d       7       8
4  two    a       9      10
5  two    b      11      12
6  two    c      13      14
7  two    d      15      16
====================================
           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

In [37]:
s3_df=pd.read_csv("Example/sample3.csv")
print(s3_df)
print("====================================")
dic={"somet":["foo","NA"]}
s3_df=pd.read_csv("Example/sample3.csv", na_values=dic)
s3_df

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   World
2     three  9  10  11.0  12     foo
====================================

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   World
2     three  9  10  11.0  12     NaN