In [29]:
import pandas as pd
sample_df=pd.read_csv("Example/Sample.csv")
print(sample_df)
print("============================================================")
# We can change the colums name while laoding data
sample_df=pd.read_csv("Example/Sample.csv", 
                      names=['id','name','che','phy','eng','mat'])
print(sample_df)
print("============================================================")
#now we can skip the rows 1
sample_df=pd.read_csv("Example/Sample.csv",skiprows=1, 
                      names=['id','name','che','phy','eng','mat'])
print(sample_df)

  studentID         name  chemistry  physics  english  math
0       A01  Sanwal Khan         30       50       60    70
1       A02         Amar         40       20       70    30
2       A03  Shoukat Ali         50       60       50    20
3       A04        Hamza         70       80       30    40
============================================================
          id         name        che      phy      eng   mat
0  studentID         name  chemistry  physics  english  math
1        A01  Sanwal Khan         30       50       60    70
2        A02         Amar         40       20       70    30
3        A03  Shoukat Ali         50       60       50    20
4        A04        Hamza         70       80       30    40
============================================================
    id         name  che  phy  eng  mat
0  A01  Sanwal Khan   30   50   60   70
1  A02         Amar   40   20   70   30
2  A03  Shoukat Ali   50   60   50   20
3  A04        Hamza   70   80   30   40

# Hierarchal Index

In [33]:
s2_df=pd.read_csv("Example/sample2.csv")
print(s2_df)
print("====================================")
s2_df=pd.read_csv("Example/sample2.csv", index_col=["key1","key2"])
print(s2_df)

  key1 key2  value1  value2
0  one    a       1       2
1  one    b       3       4
2  one    c       5       6
3  one    d       7       8
4  two    a       9      10
5  two    b      11      12
6  two    c      13      14
7  two    d      15      16
====================================
           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

In [39]:
s3_df=pd.read_csv("Example/sample3.csv")
print(s3_df)
print("====================================")
dic={"message":["foo","NA"]}
s3_df=pd.read_csv("Example/sample3.csv", na_values=dic)
s3_df

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   World
2     three  9  10  11.0  12     foo
====================================

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   World
2     three  9  10  11.0  12     NaN

In [45]:
pd.read_csv("Example/dataSet.csv", nrows=200)

,id,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,...,pc,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi
0,1,1043,1,1.8,1,14,0,5,0.1,193,...,16,226,1412,3476,12,7,2,0,1,0
1,2,841,1,0.5,1,4,1,61,0.8,191,...,12,746,857,3895,6,0,7,1,0,0
2,3,1807,1,2.8,0,1,0,27,0.9,186,...,4,1270,1366,2396,17,10,10,0,1,1
3,4,1546,0,0.5,1,18,1,25,0.5,96,...,20,295,1752,3893,10,0,7,1,1,0
4,5,1434,0,1.4,0,11,1,49,0.5,108,...,18,749,810,1773,15,8,7,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,196,1202,0,0.8,0,2,0,49,0.5,131,...,8,197,1435,1177,15,13,7,1,1,1
196,197,885,0,0.5,1,2,0,3,0.5,163,...,8,813,1666,2887,5,1,13,0,0,1
197,198,1629,1,2.3,0,2,1,2,0.8,86,...,19,1055,1200,2178,19,10,18,1,1,0
198,199,1072,1,0.5,1,6,1,4,0.5,92,...,12,1019,1640,2878,7,5,13,1,0,1
199,200,1863,1,2.5,1,0,0,64,0.7,89,...,1,159,618,3201,5,4,19,1,1,0

In [47]:
chunks=pd.read_csv("Example/dataSet.csv", chunksize=200)
for chunk in chunks:
    print(chunk)

      id  battery_power  blue  clock_speed  dual_sim  fc  four_g  int_memory  \
0      1           1043     1          1.8         1  14       0           5
1      2            841     1          0.5         1   4       1          61
2      3           1807     1          2.8         0   1       0          27
3      4           1546     0          0.5         1  18       1          25
4      5           1434     0          1.4         0  11       1          49
..   ...            ...   ...          ...       ...  ..     ...         ...
195  196           1202     0          0.8         0   2       0          49
196  197            885     0          0.5         1   2       0           3
197  198           1629     1          2.3         0   2       1           2
198  199           1072     1          0.5         1   6       1           4
199  200           1863     1          2.5         1   0       0          64

     m_dep  mobile_wt  ...  pc  px_height  px_width   ram  sc_h  sc_w  \
0      0.1        193  ...  16        226      1412  3476    12     7
1      0.8        191  ...  12        746       857  3895     6     0
2      0.9        186  ...   4       1270      1366  2396    17    10
3      0.5         96  ...  20        295      1752  3893    10     0
4      0.5        108  ...  18        749       810  1773    15     8
..     ...        ...  ...  ..        ...       ...   ...   ...   ...
195    0.5        131  ...   8        197      1435  1177    15    13
196    0.5        163  ...   8        813      1666  2887     5     1
197    0.8         86  ...  19       1055      1200  2178    19    10
198    0.5         92  ...  12       1019      1640  2878     7     5
199    0.7         89  ...   1        159       618  3201     5     4

     talk_time  three_g  touch_screen  wifi
0            2        0             1     0
1            7        1             0     0
2           10        0             1     1
3            7        1             1     0
4            7        1             0     1
..         ...      ...           ...   ...
195          7        1             1     1
196         13        0             0     1
197         18        1             1     0
198         13        1             0     1
199         19        1             1     0

[200 rows x 21 columns]
      id  battery_power  blue  clock_speed  dual_sim  fc  four_g  int_memory  \
200  201           1739     0          2.3         1   1       0          51
201  202            895     1          2.5         0   2       0          23
202  203           1278     1          2.8         1   0       0          56
203  204            562     1          1.1         1   1       1          43
204  205           1249     1          2.1         1   0       0          38
..   ...            ...   ...          ...       ...  ..     ...         ...
395  396            681     0          1.2         1   8       0          13
396  397            687     0          0.6         1  13       1          14
397  398            863     0          2.9         0  11       1          52
398  399            518     1          2.7         0   0       1          45
399  400           1488     0          1.8         0   0       1           2

     m_dep  mobile_wt  ...  pc  px_height  px_width   ram  sc_h  sc_w  \
200    0.4        140  ...  15        406       691  1490     5     1
201    0.5         98  ...   3         26       663  2724    16    14
202    0.6        179  ...   7        406      1698  3032     9     5
203    0.3        141  ...  17        918       991  3352    13    12
204    0.8        193  ...  10        940      1290  3195    19     7
..     ...        ...  ...  ..        ...       ...   ...   ...   ...
395    0.8         87  ...  17        288       621   292    12    10
396    0.4        185  ...  16        721      1620  1580    19     4
397    0.8        119  ...  13       1060      1547  1345     7     0
398    0.7        159  ...  15        564       739  1208    10     9
399    0.1        124  ...   0        765       777  3349    17     6

     talk_time  three_g  touch_screen  wifi
200          9        0             1     1
201          7        0             0     0
202          6        0             0     1
203         17        1             1     0
204         17        0             0     0
..         ...      ...           ...   ...
395         18        0             0     1
396         19        1             1     1
397         20        1             0     0
398          9        1             1     0
399          2        1             0     0

[200 rows x 21 columns]
      id  battery_power  blue  clock_speed  dual_sim  fc  four_g  int_memory  \
400  401            944     0          2.4         0   0       0          35
401  402           1283     0          0.5         1   6       0          48
402  403            817     1          1.0         1  13       1          40
403  404            804     0          2.6         1   2       0          49
404  405           1883     1          2.6         0   2       1          50
..   ...            ...   ...          ...       ...  ..     ...         ...
595  596           1439     1          0.5         1   0       0          50
596  597            510     0          1.3         1   0       1          15
597  598           1038     1          1.8         0   1       1          42
598  599            529     1          1.4         1  13       1          32
599  600           1203     1          1.7         0   8       1          20

     m_dep  mobile_wt  ...  pc  px_height  px_width   ram  sc_h  sc_w  \
400    0.5        127  ...   1          7       719  2804     9     4
401    0.5        176  ...   9        880       964  1182    11     8
402    0.8        140  ...  17       1180      1790   436    19     6
403    0.6        105  ...  18        638       939  2256    16     1
404    0.1        169  ...   3        313       561   427    17     8
..     ...        ...  ...  ..        ...       ...   ...   ...   ...
595    0.7        182  ...   1        559      1573   805     8     5
596    0.5        131  ...   1        268      1505  2187     5     4
597    0.2        150  ...  11         79      1186  3984    14     9
598    0.7        139  ...  17        797       878  1561    12     0
599    0.7        157  ...  17       1153      1688  2307     7     5

     talk_time  three_g  touch_screen  wifi
400         10        1             1     0
401         17        1             1     0
402         14        1             0     1
403          7        1             0     1
404         10        1             0     1
..         ...      ...           ...   ...
595         13        0             0     1
596         17        1             0     1
597         20        1             0     0
598          3        1             1     1
599         11        1             0     1

[200 rows x 21 columns]
      id  battery_power  blue  clock_speed  dual_sim  fc  four_g  int_memory  \
600  601            768     1          2.5         0  10       0          13
601  602           1780     1          1.5         1   2       0          30
602  603           1021     1          0.9         1   2       1           9
603  604           1334     0          1.2         1   0       0          35
604  605           1153     1          0.5         0   2       1          34
..   ...            ...   ...          ...       ...  ..     ...         ...
795  796           1146     0          0.5         1   4       1          21
796  797            841     1          0.5         0   0       0          59
797  798           1140     1          0.9         1   0       0          40
798  799           1091     1          1.8         1   4       0           8
799  800           1360     0          0.7         0   8       1          25

     m_dep  mobile_wt  ...  pc  px_height  px_width   ram  sc_h  sc_w  \
600    0.2        133  ...  18        520       575  1921     8     2
601    0.2         82  ...   8        324      1461  1066    13     6
602    0.5        184  ...   4        490      1647   773    13     2
603    0.1        199  ...   1        158       971  1038    16    14
604    0.6        133  ...   3       1788      1886  2225     9     8
..     ...        ...  ...  ..        ...       ...   ...   ...   ...
795    0.5        152  ...   6        841       994  1182    15     2
796    0.2        103  ...  16        258      1642  1169     8     6
797    0.1        119  ...   1        211       555  3386    13     4
798    0.5        100  ...   8        650       922  3626     5     0
799    0.4        108  ...  20        493       681  3934    16     4

     talk_time  three_g  touch_screen  wifi
600         16        1             0     1
601         13        0             0     1
602         14        1             1     1
603         17        1             0     0
604          8        1             0     1
..         ...      ...           ...   ...
795         19        1             0     0
796         10        0             0     0
797          2        1             0     0
798         14        1             1     1
799          5        1             0     0

[200 rows x 21 columns]
       id  battery_power  blue  clock_speed  dual_sim  fc  four_g  int_memory  \
800   801           1038     0          1.0         0   2       0          28
801   802           1111     0          2.5         1   4       0          46
802   803           1220     0          0.5         1   8       0          52
803   804           1636     1          1.8         0   9       0          52
804   805           1800     1          1.6         1   2       0          23
..    ...            ...   ...          ...       ...  ..     ...         ...
995   996           1700     1          1.9         0   0       1          54
996   997            609     0          1.8         1   0       0          13
997   998           1185     0          1.4         0   1       1           8
998   999           1533     1          0.5         1   0       0          50
999  1000           1270     1          0.5         0   4       1          35

     m_dep  mobile_wt  ...  pc  px_height  px_width   ram  sc_h  sc_w  \
800    0.2        154  ...   6       1019      1246  3913    11     1
801    0.4        152  ...  11        110      1981   851    14     8
802    0.8        121  ...  19        892      1470  1458    18    12
803    0.9        188  ...  11        555       635  2363    13     0
804    0.8        187  ...   8        179      1137  1966    15     2
..     ...        ...  ...  ..        ...       ...   ...   ...   ...
995    0.5        170  ...  17        644       913  2121    14     8
996    0.9        186  ...   2       1152      1632  1933     8     1
997    0.5         80  ...  12        477       825  1223     5     0
998    0.4        171  ...  12         38       832  2509    15    11
999    0.1        140  ...  19        457       608  2828     9     2

     talk_time  three_g  touch_screen  wifi
800         16        1             1     0
801          2        0             0     0
802         19        0             1     1
803          9        0             0     1
804          7        0             0     0
..         ...      ...           ...   ...
995         15        1             1     0
996         19        0             1     1
997         14        1             0     0
998          6        0             1     0
999          3        1             0     1

[200 rows x 21 columns]

# Writing data to Text-Format

In [50]:
import numpy as np
dates=pd.date_range("1/1/2000",periods=7)
ts=pd.Series(np.arange(7),index=dates)
ts.to_csv("Example/tseries.csv")


# Web Data Loading

In [14]:
import pandas as pd
#table variable type is not dataframe , its list
table=pd.read_html("Example/FDIC _ Failed Bank List.html")
print(type(table))
failure_df=table[0]
print(failure_df.shape)
print(failure_df.columns)
print(failure_df["Bank Name"].head())
print(failure_df["City"].head())

<class 'list'>
(12, 6)
Index(['Bank Name', 'City', 'State', 'Cert', 'Acquiring Institution',
       'Closing Date'],
      dtype='object')
0                   Almena State Bank
1          First City Bank of Florida
2                The First State Bank
3                  Ericson State Bank
4    City National Bank of New Jersey
Name: Bank Name, dtype: object
0               Almena
1    Fort Walton Beach
2        Barboursville
3              Ericson
4               Newark
Name: City, dtype: object

# Using HDF Format

In [30]:
import numpy as np
frame=pd.DataFrame({"a":np.random.rand(100)})
print(frame)
store=pd.HDFStore("mydata.h5")
store['obj1']=frame
store['obj_col']=frame['a']
print("================================")
print(store)
x=store.obj1
print(type(x))
print(x.head())
print("------------------------------")
store.put("obj2",frame, format='table')
store.select('obj2', where=['index=>10 and index<=15'])
store.close()

           a
0   0.607179
1   0.249659
2   0.166907
3   0.175174
4   0.310248
..       ...
95  0.516716
96  0.773332
97  0.199039
98  0.723245
99  0.701326

[100 rows x 1 columns]
================================
<class 'pandas.io.pytables.HDFStore'>
File path: mydata.h5

<class 'pandas.core.frame.DataFrame'>
          a
0  0.607179
1  0.249659
2  0.166907
3  0.175174
4  0.310248
------------------------------

SyntaxError: Python keyword not valid identifier in numexpr query (<unknown>, line 1)

# Reading Microsoft Excel File

In [ ]:
#reading
xlxr=pd.read_excel("Example/Book1.xlsx")
print(xlxr)
print("==================")
#Writing
writer=pd.ExcelWriter("Example/Book1.xlsx")
writer.save()
#alternative option to single sheet
frame.to_excel("Example/Book1.xlsx")

# Interacting with Web APIs

In [53]:
import requests
url="http://api.github.com/repos/pandas-dev/pandas/issues"
resp=requests.get(url)
#print(resp)
data=resp.json()
#print(data)
print(data[0])

{'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/39858', 'repository_url': 'https://api.github.com/repos/pandas-dev/pandas', 'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/39858/labels{/name}', 'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/39858/comments', 'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/39858/events', 'html_url': 'https://github.com/pandas-dev/pandas/pull/39858', 'id': 809873299, 'node_id': 'MDExOlB1bGxSZXF1ZXN0NTc0NjU5MTk4', 'number': 39858, 'title': 'Update matplotlib canonical', 'user': {'login': 'jklymak', 'id': 1562854, 'node_id': 'MDQ6VXNlcjE1NjI4NTQ=', 'avatar_url': 'https://avatars.githubusercontent.com/u/1562854?v=4', 'gravatar_id': '', 'url': 'https://api.github.com/users/jklymak', 'html_url': 'https://github.com/jklymak', 'followers_url': 'https://api.github.com/users/jklymak/followers', 'following_url': 'https://api.github.com/users/jklymak/following{/other_user}', 'gists_url': 'https://api.github.com/users/jklymak/gists{/gist_id}', 'starred_url': 'https://api.github.com/users/jklymak/starred{/owner}{/repo}', 'subscriptions_url': 'https://api.github.com/users/jklymak/subscriptions', 'organizations_url': 'https://api.github.com/users/jklymak/orgs', 'repos_url': 'https://api.github.com/users/jklymak/repos', 'events_url': 'https://api.github.com/users/jklymak/events{/privacy}', 'received_events_url': 'https://api.github.com/users/jklymak/received_events', 'type': 'User', 'site_admin': False}, 'labels': [], 'state': 'open', 'locked': False, 'assignee': None, 'assignees': [], 'milestone': None, 'comments': 0, 'created_at': '2021-02-17T05:41:48Z', 'updated_at': '2021-02-17T05:41:48Z', 'closed_at': None, 'author_association': 'NONE', 'active_lock_reason': None, 'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/39858', 'html_url': 'https://github.com/pandas-dev/pandas/pull/39858', 'diff_url': 'https://github.com/pandas-dev/pandas/pull/39858.diff', 'patch_url': 'https://github.com/pandas-dev/pandas/pull/39858.patch'}, 'body': 'Please see https://discourse.matplotlib.org/t/canonical-documentation-have-moved/21863\r\n\r\n', 'performed_via_github_app': None}

In [72]:
dic_data=data[0]
print(dic_data["title"])

Update matplotlib canonical