In [4]:
import numpy as np
import pandas as pd
frame=pd.DataFrame(np.random.randn(4,3),
                  columns=list("bde"),
                  index=["Utah","Ohio","Texas","Oregon"])
frame

               b         d         e
Utah   -0.043601  0.641514 -0.794286
Ohio   -0.929033  0.232066 -1.341830
Texas   0.837087  1.021271  0.304397
Oregon  2.345039 -1.414693  0.844385

In [6]:
print("The Minimum Value of d=",frame["d"].min())

The Minimum Value of d= -1.4146934097697945

In [7]:
print("The Maximum Value of d=",frame["d"].max())

The Maximum Value of d= 1.0212713412243992

In [11]:
print("Max-Min=",frame["d"].max() - frame["d"].min())

Max-Min= 2.4359647509941937

In [19]:
f=lambda  x: x.max() - x.min()
df=frame.apply(f)
df

b    3.274072
d    2.435965
e    2.186215
dtype: float64

In [20]:
df=frame.apply(f, axis=1) # for Row and Axis=0 for Columns
df

Utah      1.435800
Ohio      1.573896
Texas     0.716874
Oregon    3.759733
dtype: float64